.icon-go {
    animation-duration: .8s;
    animation-name: go;
    animation-iteration-count: infinite;
}

.icon-go-inverse {
    animation-duration: .8s;
    animation-name: go-inverse;
    animation-iteration-count: infinite;
}

@keyframes go {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(10px);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes go-inverse {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(-10px);
    }
    100% {
        transform: translateX(0);
    }
}
