.home {
    header {
        min-height: 100vh;

        .main-title {
            top: 40%;
        }
        canvas {
            @extend .header-img;
            height: 80vh;
            background: #1c3144;
        }
        .subtitle-container {
            min-height: 20vh;
        }
        span.icon-arrow.down {
        	position: absolute;
        	left: 50%;
        	margin-left: -30px;
        	margin-top: -30px;
        	width: 60px;
        	height: 60px;
        	text-align: center;
        	line-height: 60px;
        	color: white;
        	background: $red;
        	border-radius: 50%;
        	font-size: 20px;
        	box-shadow: 0px 10px 15px -5px rgba(0,0,0,0.75);
            transition: all .3s ease-in-out;
            cursor: pointer;

            &:hover {
                transform: translateY(-5px);
            	box-shadow: 0px 15px 20px -5px rgba(0,0,0,0.75);
            }
        }
    }

    .who {
        background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../images/who.jpg) center;
        background-size: cover;
        background-position-y: 50%;
        padding: 2em 0;

        article {
            width: 80%;
            margin: 0 10%;
            background-color: white;

            .header {
                margin: 0;
                padding: .5em 2em;
                text-align: center;
                background-color: $light-blue;
                color: white;
                font-size: 2em;
                font-weight: bold;
            }
            .main {
                padding: 1em 2em;
                font-weight: 200;

                p {
                    margin: 0 0 1em;
                }
            }
            @include desktop {
                width: 40%;
            }
        }
    }
    .activities {
        .triangle {
            display: none;
            width: 100%;
            padding-bottom: 35%;

            .tr {
                width: 100%;
                padding-bottom: 35%; /* = width / sqrt(2) */
                position: absolute;
                overflow: hidden;

                a {
                    position: absolute;
                    top: 0; left: 0;
                    width: 120%; height: 100%;
                    background-color: $light-grey;
                    transform-origin: 0 0%;
                    transform: rotate(25deg);
                    transition: background-color .3s;
                    z-index: 10;
                    transition: all .3s ease-in-out;

                    &:hover {
                        background: $dark-blue;

                        span {
                            color: white;
                        }
                        p {
                            visibility: visible;;
                            opacity: 1;
                        }
                    }
                    span {
                        position: absolute;
                        color: black;
                        text-decoration: none;
                        font-size: 2em;
                        top: 1em;
                        left: 8%;
                        transition: all .3s ease-in-out;
                    }
                    p {
                        visibility: hidden;
                        opacity: 0;
                        position: absolute;
                        left: 9%;
                        top: 29%;
                        width: 20%;
                        color: white;
                        text-decoration: none;
                        text-align: center;
                        font-size: 1em;
                        transform: rotate(-25deg);
                        transition: all .3s ease-in-out;
                    }
                    @include large {
                        span {

                        }
                        p {
                            font-size: 1.3em;
                            top: 20%;
                        }
                    }
                }

                #conferences {
                    background-color: $red;
                    top: 100%; right: 0; left: 10%;
                    transform-origin: 0% 0%;
                    transform: rotate(-22deg);
                    z-index: 100;

                    &:hover {
                        background: $dark-blue;
                    }
                    span {
                        color: white;
                        left: 50%;
                    }
                    p {
                        transform: rotate(22deg);
                        left: 40%;
                        top: 25%;
                        width: 30%;
                    }
                }

                #radio {
                    bottom: 0; right: 0;
                    background-color: $dark-grey;
                    transform: rotate(0deg);
                    z-index: 0;

                    &:hover {
                        background: $dark-blue;

                        span {
                            color: white;
                        }
                    }
                    span {
                        color: white;
                        left: 30%;
                    }
                    p {
                        transform: rotate(0deg);
                        left: 30%;
                        top: 20%;
                    }
                    @include large {
                        span {
                            left: 32%;
                        }
                    }
                }
            }
            @include desktop {
                display: block;
            }
        }
        .rectangle {
            display: block;
            color: white;

            .wrapper {
                display: flex;
                flex-flow: column wrap;
                justify-content: space-around;

                .title {
                    font-size: 1.7em;
                }
                p {
                    margin: .5em 0;
                    font-weight: 200;
                }
                .button {
                    align-self: flex-end;
                    font-size: 1.1em;
                    text-decoration: none;
                    background-color: $dark-blue
                }
            }
            #radio {
                background-color: $light-grey;
                color: black;
            }
            #conferences {
                background-color: $red;
            }
            #hackers {
                background-color: $dark-grey;
            }
            @include desktop {
                display: none;
            }
        }
    }

    .begin {
        background-color: $light-blue;
        padding: 3em 0;

        .begin-card {
            .title {
                font-size: 1.7em;
                margin: 1.5em 0 1em;
            }
            form {
                display: flex;
                flex-flow: column wrap;
                justify-content: space-around;

                label {
                    margin-bottom: .5em;
                    font-weight: 200;
                }
                input {
                    padding: .5em;
                    border: none;
                    border-bottom: 2px solid $red;
                    background-color: transparent;

                    &:focus {
                        outline: none;
                    }
                }
                button {
                    align-self: flex-end;
                    margin: 1em 0;
                    padding: .5em;
                    background-color: $red;
                    color: white;
                    font-size: 1.5em;
                    border: none;
                    box-shadow: 0px 3px 10px 0px rgba(0,0,0,0.75);

                    &:focus {
                        outline: none;
                    }
                }
            }
        }
        .card {
            display: none;

            &.active {
                display: block;
            }
        }
        .right {
            position: absolute;
            right: 2%;
            top: 50%;
            margin-top: -30px;
            font-size: 2em;

            &::before {
                transform: rotate(-90deg);
            }
            &:hover {
                @extend .icon-go;
            }
        }
        .left {
            position: absolute;
            left: 2%;
            top: 50%;
            margin-top: -30px;
            font-size: 2em;

            &::before {
                transform: rotate(90deg);
            }
            &:hover {
                @extend .icon-go-inverse;
            }
        }
    }
}
