.iot {
    background: $light-grey;

    h3 {
        font-size: 1.7em;
        margin-top: 0;
    }
    .general {
        background-color: $dark-grey;
        color: white;
    }
    .target {
        background-color: $light-grey;

        .content {
            display: flex;
            flex-flow: column;
            justify-content: space-between;
            align-items: center;

            .col {
                flex-basis: 45%;

                img {
                    max-width: 100%;
                }
            }
            @include tablet {
                flex-flow: row;
            }
        }
    }
    .schedule {
        background-color: $red;
        color: white;

        .content {
            display: flex;
            flex-flow: row wrap;
            justify-content: space-around;

            .day {
                max-width: 200px;
                padding: 1.5em 2em;
                margin: 1em;

                span {
                    text-align: center;
                    display: block;

                    &:first-child {
                        font-size: 1.3em;
                        margin-bottom: .5em;
                    }
                }
            }
        }
    }
    .submit {
        background-color: $light-blue;
        padding: 3em 0;

        .title {
            font-size: 1.7em;
            margin: 1.5em 0 1em;
        }
    }
}
