$red: #591728;
$light-grey: #D8DBE2;
$dark-grey: #666666;
$light-blue: #39A5DB;
$dark-blue: #1C3144;
$social-media-size: 50px;

$twitter: #1DA1F2;
$youtube: #E62117;
$github: #333333;
$youtube-light: #ffffff;
$github-light: #ffffff;
$twitter-light: #ffffff;
