@import 'variables',
        'utils',
        'animations';

body, html, button, input, select, textarea {
    font-family: 'Lato', sans-serif;
}



header {
	display: inline-block;
	vertical-align: top;
	width: 100%;
    min-height: 50vh;
	background: #ccc;

    .main-title {
    	position: absolute;
    	top: 20%; left: 50%;
    	width: auto;
    	height: auto;
    	transform: translate(-50%, -50%);
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        text-decoration: none;

        .logo-img {
            max-width: 150px;
            max-height: 150px;
            border: 5px solid white;
            background-color: white;
        }
        h1 {
            margin: .5em 10px;
            font-size: 3em;
            color: #fff;

            span {
                font-size: 1.45em;
            }
            @include tablet {
                margin-left: 1em;
            }
        }
    }
    .header-img {
    	display: block;
    	width: 100%;
    	height: 40vh;
        background: linear-gradient(rgba(28, 49, 68, 0.85), rgba(28, 49, 68, 0.85)), url("../images/who.jpg") center;
        background-size: cover;
        background-position-y: 60%;
        box-shadow: 0px 5px 15px -5px rgba(0,0,0,0.5);
    }
    .subtitle-container {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: center;
        min-height: 10vh;
        padding: 0 10%;

        .subtitle {
            margin: 0;
            margin-top: 2em;

            @include tablet {
                margin-top: 0em;
            }
        }
        .social {
            margin: 1em 0;

            @include tablet {
                margin: 0em;
            }
        }
    }
}

.icon-arrow {
    display: block;
    width: 60px;
    height: 60px;
    text-align: center;
    line-height: 60px;
    color: white;
    background: $red;
    border-radius: 50%;
    font-size: 20px;
    box-shadow: 0px 10px 15px -5px rgba(0,0,0,0.75);
    transition: all .3s ease-in-out;
    cursor: pointer;

    &:hover {
        transform: translateY(-5px);
        box-shadow: 0px 15px 20px -5px rgba(0,0,0,0.75);
    }
    &.simple {
        background-color: transparent;
        box-shadow: none;

        &::before {
            color: $red;
        }
    }
}

.wrapper {
    position: relative;
    width: 90%;
    max-width: 1024px;
    margin: auto;
    padding: 40px 0;
}

button, .button {
    margin: 1em 0;
    padding: .5em;
    background-color: $red;
    color: white;
    font-size: 1.5em;
    border: none;
    box-shadow: 0px 3px 10px 0px rgba(0,0,0,0.75);
    transition: all .3s ease-in-out;

    &:focus {
        outline: none;
    }
    &:hover {
        box-shadow: 0px 8px 15px 0px rgba(0,0,0,0.5) !important;
        transform: translateY(-5px);
    }
}

.social {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;

    a {
        margin: 0 5px;
        text-decoration: none;
        transition: all .3s ease-in-out;
        font-size: 1.5em;
        cursor: pointer;

        &:hover {
            font-size: 2em;
        }
        &.icon-github {
            color: $github;
        }
        &.icon-youtube-play {
            color: $youtube;
        }
        &.icon-twitter {
            color: $twitter;
        }
    }
}

.card {
    background-color: $light-grey;
    color: black;
    padding: .5em 20%;
    box-shadow: 0px 5px 15px -5px rgba(0,0,0,0.75);
}

footer {
    background: $dark-grey;
    color: white;

    .media {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: center;

        ul {
            list-style: none;
            padding-left: 20px;
            position: relative;

            li {

                &:before {
                    content: '·';
                    position: absolute;
                    left: 5px;
                    margin-top: -6px;
                    font-size: 1.5em;
                }
                a {
                    text-decoration: none;
                    color: white;

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
        .social {
            .icon-github {
                color: $github-light;
            }
            .icon-youtube-play {
                color: $youtube-light;
            }
            .icon-twitter {
                color: $twitter-light;
            }
        }
    }
    .legal {
        text-align: center;
    }
}

@import 'home',
        'iot';
